body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
header {
  background: #404040;
  padding: 1rem;
}
a {
  text-decoration: none;
}
.store {
  text-decoration: none;
  font-weight: bold;

  /* font-family: "Poppins", sans-serif; */
  font-size: 1.5em;
  color: #e0e5eb;
  text-shadow: -3px -3px 3px rgba(255, 255, 255, 0.4),
    3px 3px 3px rgba(0, 0, 0, 0.874);
  caret-color: #262626;
  /* outline: none; */
  margin-right: 3rem;
  margin-left: 2rem;
}
main {
  flex: 1;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product img {
  width: 100%;
  max-width: 400px;
}
.product-info {
  padding: 1rem;
}
footer {
  text-align: center;
}
li {
  list-style: none;
  margin-bottom: 0.3rem;
}
.img-thumbnail {
  height: 80px;
}
.small-container {
  max-width: 600px;
  align-self: center;
}
.checkout-steps {
  margin-top: 2rem;
}
.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}
.app {
  text-align: center;
}
/* sidebar classes */
.site-container {
  transition: all 0.5s;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.active-cont {
  margin-left: 240px;
}
.active-nav {
  left: 0;
}
.sidebar-nav {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #100901;
  transition: 0.5s;
}

.custom-icons {
  border-radius: 50%;
  cursor: pointer;
}
.custom-icons:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.searchBox {
  /* position: relative; */
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.15);
  margin-left: 1rem;
  padding: 1rem;
  width: 10rem;
  /* border: 1px solid red; */
}

.searchBox:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
.searchIconWrapper {
  height: 100%;
  /* position: absolute; */
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: left;
}
.styledInput {
  color: inherit;
  width: 100%;
}
.paginationHolder {
  margin-top: 1rem;
}
.paginationHolder:first-child {
  margin-left: 0;
}
.btn {
  border: 1px solid rgba(1, 1, 1, 0.2);
  border-radius: 2px;
  margin: 0.1rem;
  padding: 0.5rem;
  font-size: 0.8em;
}
.btn.bold {
  font-weight: bold;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.2em;
  }
}
